    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Blog",
        "url": "https://lacavediy.com/"
      }
    </script>
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "La Cave DIY",
        "url": "https://lacavediy.com/",
        "sameAs": [
          "https://facebook.com/lacavediy",
          "https://plus.google.com/107372593286776964898",
          "https://twitter.com/lacavediy"
        ]
      }
    </script>
